@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background: #e5eaf7;
}

/* App */
.main{
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
}

/* InterestForm */
.form-wrapper{
  width: 100%;
  margin-top: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
}

.form-wrapper .form-heading {
  margin-left: 20px;
  color: #000000cf;
}

.form-wrapper .form-heading h1{
  font-size: 30px;
  font-weight: 700;
  margin: 10px 0 4px;
}

.form-wrapper .form-description{
  font-size: 15px;
}

.form-wrapper .form-inner{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 30px 0 0;
}

.form-wrapper .form-inner .input-wrapper{
  width: 60%;
}

.form-wrapper .form-inner .form-rigth{
  padding: 20px;
  width: 35%;
}

.form-wrapper .form-inner .input-div{
  padding: 10px;
}

.form-wrapper .form-inner .input-div label{
  display: block;
  margin: 2px 0;
}

.form-wrapper .form-inner .input-div .label-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.form-inner .label-wrapper input{
  outline: none;
  border: 2px solid rgb(203, 201, 201);
  border-radius: 5px;
  padding: 10px;
}

.form-inner .label-wrapper input:focus{
  border: 2px solid rgba(0, 0, 255, 0.5);
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #e2e7f4;
  height: 0.3rem;
  border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -5px; 
  cursor: pointer;
  background-color: #2680eb;
  height: 1rem;
  width: 1rem;    
  border-radius: 50%;
}

.form-wrapper .form-inner .form-card{
  padding: 20px 30px;
  border-radius: 10px;
  background: #2D4356;
}

.form-inner .form-rigth .form-card .card-heading{
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  margin: 8px 0;
}

.form-card .card-details .card-emi{
  color: #ffffffcc;
  border-bottom: 2px solid #ffffff8f;
}

.form-rigth .form-card .card-details .card-emi p{
  font-size: 16px;
  margin: 20px 0 5px;
}


.form-rigth .form-card .card-details h2{
  font-size: 34px;
  margin-bottom: 10px;
}

.form-card .card-interest-info{
  margin: 10px;
}

.form-card .card-interest-info ul{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #ffffffc9;
}

.form-card .card-interest-info li h4{
  margin: 0;
  font-weight: 500;
}

/* Month Table */
.month-table{
  position: relative;
  margin: 30px auto;
}

.month-table table{
  width: 97%;
  border-collapse: collapse;
  cursor: pointer;
}

.month-table table td, th {
  border: 2px solid #2d43564b;
  text-align: left;
  padding: 8px;
}

.month-table table tbody tr:hover {
  background: #267feb7e;
}

.month-table .more-btn{
  position: absolute;
  right: 0;
  padding: 10px 20px;
  background: none;
  border: none;
  color: #2680eb;
  cursor: pointer;
}

.month-table .more-btn:hover span{
  color: #0f488d;
  border-bottom: 1px solid;
}


@media (max-width: 1050px) {
  body{
    width: auto;
  }
  .form-wrapper .form-inner {
    flex-direction: column-reverse;
  }
  .form-wrapper .form-inner .input-wrapper {
    width: 100%;
  }
  .form-wrapper .form-inner .form-rigth {
    width: 100%;
    margin-bottom: 20px;
  }
}